/* HTML properties */
html {
    background-color: darkslategray;
    }

@font-face {font-family: "Oswald";
            src: url("Oswald-Medium.ttf");}

/* Heading properties */
h1 {color: #ffffff;        /* white */
    font-family: "oswald", sans-serif;
    font-size: 28pt;
    background-color: darkslategray;
    padding: 10px;
    border: 3px solid black;
    
    border-radius: 15px 15px 15px 15px;
    letter-spacing: 11px;
    text-shadow: 2px 2px black;}
 
h3 {color: #000066;        /* DarkBlue */
    font-size:24pt;}

h4 {font-size: 14pt;
    color: darkslateblue;
    letter-spacing: 2px;}

/* Image properties */
#pic {
    border-radius: 15%;
    position: relative;
    width: 200px;
    height: auto;}


/* Body properties */
body {height: auto;
    width: 1100px;
    background-color: lightgray;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    font-family: arial, sans-serif;}



/* Paragraph elements */
td,p {color: #263F3F;        
   font-size:14pt;} 


/* Footer properties */
footer {font-size: 12pt;
        border-top-style: solid;
        border-top-color: darkslategray;
        border-top-width: 3px;
        text-align: center;
        line-height: 2.2;
        padding-top: 5px; 
        font-weight: 600;}

.footerbkg {background-image: url(images/grayftrbkg.jpg);
            width: 1100px;
            height: 35px;
            background-size: cover;}

.footpic {border: 0px; 
          border-radius: 0px;
          vertical-align: middle;
          width: 18px;}

.icons {font-size: 10px;
        text-align: right;}



/* List element properties */
    li {color: darkslategray;
        font-family: arial, serif;
        font-size: 14pt;} 




/* Animations */

    .footpic:hover {transform:scale(1.5,1.5);}


/* Resume Video*/  
    #video {
    width:100%;
    height:auto;}


/* Table properties */
    table {width: 1000px;
           margin-left: 10px;}

    figcaption {margin-bottom: 20px;
                color: #000066;        /* DarkBlue */
                font-size:24pt;
                font-weight: 600;
                text-align: center;}

    th {text-align: left;
        background-color: black;
        color:white;}

    table, th, td {border: 2px solid black;
                border-collapse: collapse;}

    td {padding: 5px;}

    tr:nth-child(odd) {background-color: #9999ff;}

/* Table1 properties */
    table.table1 {width: 1000px;
           margin-left: 30px;}

table.table1, td {border: none;}

table.table1 tr:nth-child(odd) {background-color: transparent;}

table.table1 {table-layout: fixed;}




/* Link properties */
a:link {color:#000066;} /* darkblue */
a:hover {color:#990000;} 
a:focus {color:#990000;} /* red */
a:visited {color:cadetblue;} /* lightblue */
a:active {color: cadetblue;}

a {cursor: pointer;}

a {text-decoration: none;}



/* Media queries */

@media print {
    #nav_menu {display: none;}
    hr {display:none;}
    html {background-color: white;}
    
    
    body {background-color: white;
          margin: 15px auto;
          border: none;
          box-shadow: none;
          font-family: "arial", serif;}
    
    h1 {color: #000;        
        font-family: "oswald", serif;
        font-size: 28pt;
        background-color: white;
        padding: 10px;
        border: 3px solid black;
        border-radius: 15px 15px 15px 15px;
        letter-spacing: 11px;
        text-shadow: none;}
    
    h3 {color: #000;        
        font-size:24pt;}
    
    h4 {font-size: 14pt;
        color: #000;
        letter-spacing: 2px;}
    
    #pic {filter: grayscale(100%);
         
         border-radius: 15px;}   
        
    main p {color: #000;
            font-size: 14pt;}
    
    blockquote {color: #000;
                font-size: 12pt;}
    
    .footpic {display: none;}
    
    footer {color:#000;} 
    
    @page {margin: .25in;}
    
    #cert {background-color: transparent;}
    
    
}




@media screen and (max-width:640px) {
    body {width:90%;}
    html {width:95%;
    margin-left: 15px;}
    
    
    header h1 {margin-top: 50px;}
    
    #indexh4 {font-size: 100%;}
    
    #pic {width: 25%;      
          top: -250px;
          margin-bottom: -200px;}
    
    main p {font-size: 100%;}
    main h3 {font-size: 100%;}
    main h2 {font-size: 100%;}
    main ul li {font-size: 90%;}
    
    #islt {font-size: 90%;
    margin-right: 10px;}
    .year {font-size: 90%;
    margin-right: 10px;}
     
    blockquote {font-size: 90%;}
    
    #columns {column-count: 1;}
    
    
    footer {font-size: 11px;
        border-top-style: solid;
        border-top-color: darkslategray;
        border-top-width: 3px;
        text-align: center;
        line-height: 1.2;
        padding-top: 5px; 
        font-weight: 600;}

    .footerbkg {background-image: url(images/grayftrbkg.jpg);
            width: auto;
            height: auto;
            background-size: cover;}

    .footpic {border: 0px; 
          border-radius: 0px;
          vertical-align: middle;
          width: 18px;}

    .icons {font-size: 10px;
        text-align: right;}
  
 /* Resume Video*/  
    .video {
        width:100% !important;
        height:auto !important;}   

    #reslink {margin-left: 20px;}
    
    
/* Table properties */
    th,td {display: block;}
    
    thead {display:none;}
    
    table, th, td {border: 2px solid black;
                border-collapse: collapse;}
    
    .diploma {font-weight: 700;}
    
    table {width: 100%;
           margin-left: 0px;}

    figcaption{margin-bottom: 20px;}

    
/* Table1 properties */
    table.table1,th,td {display: block;}
    
    table.table1 {margin-left: -15px;}
    
    .diploma {font-weight: 700;}
    
    table1 {width: 100%;
           margin-left: 0px;}

    table.table1, td {border: none;}

    table.table1 tr:nth-child(odd) {background-color: transparent;}
    
    .course {font-size: 100%;}
    
    

/* Contact properties */
    .container {width:auto;}
    
    
    .fields {width: auto;}
    #message {width: auto;} 
 
}



