/* Heading properties */
h1 {
    color: #000066;        /* DarkBlue */
    font-family: serif;
    font-size: 28pt;
    float:right; 
}
 
h3 {color: #000066;        /* DarkBlue */
    font-size:14pt;}

h4 {font-size: 16pt;
    clear:right;}


/* Paragraph elements */
p {color: #006666;        /* Teal */
   font-size:14pt;
} 


/* Footer properties */
footer {font-size: 8pt;}


/* List element properties */
#current {color: #0033cc;
} 

main li {color:#0099cc;}


/* Link properties */
a:link {color:#009966;} /* bluegreen */
a:hover {color:#00cc33;} /* green */
a:focus {color:#990000;} /* red */
a:visited {color:#99cccc;} /* lightblue */
a:active {color: #cc9900;} /* orange */

a {text-decoration: none;
   font-size: 10pt;}
