/* HTML properties */
html {
    background-color: darkslategray;
    }

/* Heading properties */
h1 {
    color: #ffffff;        /* white */
    font-family: arial, serif;
    font-size: 28pt;
    background-color: darkslategray;
    padding: 10px;
    border: 3px solid black;
    
    border-radius: 15px 15px 15px 15px;
    letter-spacing: 11px;
    text-shadow: 2px 2px black;
}
 
h3 {color: #000066;        /* DarkBlue */
    font-size:24pt;
}

h4 {font-size: 14pt;
    color: darkslateblue;
    letter-spacing: 2px;
}

/* Image properties */
img {border: 4px solid darkslateblue; 
    border-radius: 15px;
    position: relative;
    
    }


/* Body properties */
body {height: auto;
    width: 1100px;
    background-color: lightgray;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    font-family: arial, sans-serif;
    }



/* Paragraph elements */
p {color: #006666;        /* Teal */
   font-size:14pt;
    line-height: 1.6;} 


/* Footer properties */
footer {font-size: 8pt;
        border-top-style: solid;
        border-top-color: darkslategray;
        border-top-width: 3px;
        text-align: center;
        padding-top: 5px;}



/* List element properties */
    li {color: #006666;
        font-family: arial, serif;
        font-size: 14pt;} 

/* Media queries */
@media screen and (max-width:640px) {
    body {width:90%;}
    html {width:95%;
    margin-left: 15px;}
    
    
    header h1 {
    margin-top: 25px;}
    #indexh4 {font-size: 100%; }
    #pic {width: 25%;
          height: 75%;}
    
    main p {font-size: 100%;}
    main h3 {font-size: 100%;}
    main ul li {font-size: 90%;}
    
    #islt {font-size: 90%;
    margin-right: 10px;}
    .year {font-size: 90%;
    margin-right: 10px;}
     
    blockquote {font-size: 90%;}
    
    #columns {column-count: 1;}
    
}


/* Link properties */
a:link {color:#009966;} /* bluegreen */
a:hover {color:#00cc33;} /* green */
a:focus {color:#990000;} /* red */
a:visited {color:#99cccc;} /* lightblue */
a:active {color: cadetblue;} 

a {text-decoration: none;}
