/* HTML properties */
html {
    background-color: darkslategray;
    }

@font-face {font-family: "Oswald";
            src: url("Oswald-Medium.ttf");}

/* Heading properties */
h1 {
    color: #ffffff;        /* white */
    font-family: "oswald", sans-serif;
    font-size: 28pt;
    background-color: darkslategray;
    padding: 10px;
    border: 3px solid black;
    
    border-radius: 15px 15px 15px 15px;
    letter-spacing: 11px;
    text-shadow: 2px 2px black;
}
 
h3 {color: #000066;        /* DarkBlue */
    font-size:24pt;
}

h4 {font-size: 14pt;
    color: darkslateblue;
    letter-spacing: 2px;
}

/* Image properties */
img {border: 4px solid darkslateblue; 
    border-radius: 15px;
    position: relative;
    
    }


/* Body properties */
body {height: auto;
    width: 1100px;
    background-color: lightgray;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    font-family: arial, sans-serif;
    }



/* Paragraph elements */
p {color: #006666;        /* Teal */
   font-size:14pt;
    } 


/* Footer properties */
footer {font-size: 12pt;
        border-top-style: solid;
        border-top-color: darkslategray;
        border-top-width: 3px;
        text-align: center;
        line-height: 2.2;
        padding-top: 5px; 
        font-weight: 550;}

.footerbkg {background-image: url(images/grayftrbkg.jpg);
            width: 1100px;
            height: 35px;
            background-size: cover;}

.footpic {border: 0px; 
          border-radius: 0px;
          vertical-align: middle;
          width: 18px;}

.icons {font-size: 10px;
        text-align: right;}



/* List element properties */
    li {color: #006666;
        font-family: arial, serif;
        font-size: 14pt;} 



/* Media queries */

@media print {
    
    
    #nav_menu {display: none;}
    hr {display:none;}
    html {background-color: white;}
    
    
    body {background-color: white;
          margin: 15px auto;
          border: none;
          box-shadow: none;
          font-family: "arial", serif;}
    
    
    h1 {color: #000;        
        font-family: "oswald", serif;
        font-size: 28pt;
        background-color: white;
        padding: 10px;
        border: 3px solid black;
        border-radius: 15px 15px 15px 15px;
        letter-spacing: 11px;
        text-shadow: none;}
    
    h3 {color: #000;        
        font-size:24pt;}
    
    h4 {font-size: 14pt;
        color: #000;
        letter-spacing: 2px;}
    
    
    ul li {color: #000;
           font-size: 12pt;}
        
    #pic {filter: grayscale(100%);
         border: 4px solid #000; 
         border-radius: 15px;}   
        
    main p {color: #000;
            font-size: 14pt;}
    
    blockquote {color: #000;
                font-size: 12pt;}
    
    .footpic {display: none;}
    
    footer {color:#000;} 
    
    @page {margin: .25in;}
}




@media screen and (max-width:640px) {
    body {width:90%;}
    html {width:95%;
    margin-left: 15px;}
    
    
    header h1 {
    margin-top: 25px;}
    #indexh4 {font-size: 100%; }
    #pic {width: 25%;
          height: 75%;}
    
    main p {font-size: 100%;}
    main h3 {font-size: 100%;}
    main ul li {font-size: 90%;}
    
    #islt {font-size: 90%;
    margin-right: 10px;}
    .year {font-size: 90%;
    margin-right: 10px;}
     
    blockquote {font-size: 90%;}
    
    #columns {column-count: 1;}
  
    
/* Resume Video*/  
    #video {
    width:100%;
    height:auto;}
   
}


/* Link properties */
a:link {color:#000066;} /* darkblue */
a:hover {color:#990000;} 
a:focus {color:#990000;} /* red */
a:visited {color:cadetblue;} /* lightblue */
a:active {color: cadetblue;} 

a {text-decoration: none;}
